Imports

In [1]:
#Base
import pandas as pd
import numpy as np
import os
import datetime

# Data preparation
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold
from sklearn.preprocessing import OneHotEncoder, StandardScaler, LabelEncoder
from sklearn.decomposition import TruncatedSVD

Models

In [9]:
#Models
from sklearn.svm import SVC, LinearSVC
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
# from tensorflow import keras
# from tensorflow.keras import layers

# from keras.models import Sequential
# from keras.layers import Dense
# from sklearn.pipeline import Pipeline
# from scikeras.wrappers import KerasClassifier

Read Data

In [3]:
target_col = ["loan_default"]

In [14]:
data = pd.read_csv("train.csv")
print(f"The shape of Training data is {data.shape}")
# target = data[target_col]
# data = data.drop(target_col, axis=1)
data.head()

The shape of Training data is (233154, 41)

   UniqueID  disbursed_amount  ...  NO.OF_INQUIRIES  loan_default
0    420825             50578  ...                0             0
1    537409             47145  ...                0             1
2    417566             53278  ...                0             0
3    624493             57513  ...                1             1
4    539055             52378  ...                1             1

[5 rows x 41 columns]

EDA

In [5]:
data.columns[data.isna().any()].tolist()

['Employment.Type']

Removing columns

In [15]:
remove_cols = ['branch_id','Current_pincode_ID','Employee_code_ID','UniqueID'
               ,'State_ID', 'supplier_id', 'MobileNo_Avl_Flag'
               ]

data = data.drop(remove_cols, axis=1)

print("Shape of data after removing non-necessary columns: ", data.shape)
data.head()

Shape of data after removing non-necessary columns:  (233154, 34)

   disbursed_amount  asset_cost  ...  NO.OF_INQUIRIES  loan_default
0             50578       58400  ...                0             0
1             47145       65550  ...                0             1
2             53278       61360  ...                0             0
3             57513       66113  ...                1             1
4             52378       60300  ...                1             1

[5 rows x 34 columns]

Feature Extraction & Cleaning

In [16]:
def get_age_from_dob(row):
  dob = row['Date.of.Birth']
  disb = row['DisbursalDate']

  dob_year = int(dob.split("-")[2])
  if dob_year < 19:
    dob_year = 2000 + dob_year
  else:
    dob_year = 1900 + dob_year
  
  disb_year = 2000 + int(disb.split("-")[2])

  age_at_disbursement = disb_year - dob_year
  return age_at_disbursement


def get_avg_acc_age_in_months(row):
  avg_age = row['AVERAGE.ACCT.AGE']
  yrs, mth = avg_age.split(" ")[0], avg_age.split(" ")[1]
  yrs = int(yrs.replace("yrs",""))
  mth = int(mth.replace("mon",""))

  total_months = yrs*12 + mth
  return total_months

def get_credit_age_in_months(row):
  avg_age = row['CREDIT.HISTORY.LENGTH']
  yrs, mth = avg_age.split(" ")[0], avg_age.split(" ")[1]
  yrs = int(yrs.replace("yrs",""))
  mth = int(mth.replace("mon",""))

  total_months = yrs*12 + mth
  return total_months

def clean_employment_type(row):
  if row['Employment.Type'] == 'Self employed':
    return 0
  elif row['Employment.Type'] == 'Salaried':
    return 1
  else:
    return 2

def clean_credit_risk(row):
  risk_category = {'unknown':-1, 'A':13, 'B':12, 'C':11,'D':10,'E':9,'F':8,'G':7,'H':6,'I':5,'J':4,'K':3, 'L':2,'M':1}
  value = row['PERFORM_CNS.SCORE.DESCRIPTION'].split("-")
  if len(value) == 1:
    # No Bureau History Available
    return -1
  else:
    rc = risk_category[value[0]]
    return rc


data["age_at_disbursement"] = data.apply (lambda row: get_age_from_dob(row), axis=1)
data["AVERAGE.ACCT.AGE_Months"] = data.apply(lambda row: get_avg_acc_age_in_months(row), axis=1)
data["credit_history_in_months"] = data.apply (lambda row: get_credit_age_in_months(row), axis=1)
data["Employment.Type"] = data.apply (lambda row: clean_employment_type(row), axis=1)
data["credit_risk_cleaned"] = data.apply(lambda row: clean_credit_risk(row), axis=1)

data = data.drop(['DisbursalDate','Date.of.Birth','AVERAGE.ACCT.AGE','CREDIT.HISTORY.LENGTH', 'PERFORM_CNS.SCORE.DESCRIPTION'], axis=1)

print("Shape of data after feature extraction: ", data.shape)
data.head()

Shape of data after feature extraction:  (233154, 33)

   disbursed_amount  asset_cost  ...  credit_history_in_months  credit_risk_cleaned
0             50578       58400  ...                         0                   -1
1             47145       65550  ...                        23                    5
2             53278       61360  ...                         0                   -1
3             57513       66113  ...                        15                    2
4             52378       60300  ...                         0                   -1

[5 rows x 33 columns]

Combining Primary and Secondary Accounts

In [17]:
data['all_accounts'] = data['PRI.NO.OF.ACCTS'] + data['SEC.NO.OF.ACCTS']
data['primary_inactive_accounts'] = data['PRI.NO.OF.ACCTS'] - data['PRI.ACTIVE.ACCTS']
data['secondary_innactive_accounts'] = data['SEC.NO.OF.ACCTS'] - data['SEC.ACTIVE.ACCTS']
data['total_inactive_accounts'] = data['primary_inactive_accounts'] + data['secondary_innactive_accounts']
data['total_overdue_Accounts'] = data['PRI.OVERDUE.ACCTS'] + data['SEC.OVERDUE.ACCTS']
data['total_balance'] = data['PRI.CURRENT.BALANCE'] + data['SEC.CURRENT.BALANCE']
data['total_sanctioned_amount'] = data['PRI.SANCTIONED.AMOUNT'] + data['SEC.SANCTIONED.AMOUNT']
data['total_disbursed_amount'] = data['PRI.DISBURSED.AMOUNT'] + data['SEC.DISBURSED.AMOUNT']
data['total_installment'] = data['PRIMARY.INSTAL.AMT'] + data['SEC.INSTAL.AMT']

data=data.drop(['PRI.NO.OF.ACCTS','SEC.NO.OF.ACCTS','PRI.CURRENT.BALANCE','primary_inactive_accounts','secondary_innactive_accounts',
            'PRI.SANCTIONED.AMOUNT','SEC.NO.OF.ACCTS','PRI.NO.OF.ACCTS','PRI.DISBURSED.AMOUNT','PRI.ACTIVE.ACCTS', 
            'PRI.OVERDUE.ACCTS','SEC.CURRENT.BALANCE','SEC.SANCTIONED.AMOUNT', 'SEC.OVERDUE.ACCTS',
            'SEC.DISBURSED.AMOUNT','PRIMARY.INSTAL.AMT','SEC.INSTAL.AMT','disbursed_amount','SEC.ACTIVE.ACCTS'],axis=1)

Scaling all numerical columns

In [20]:
numerical_cols = ['asset_cost', 'ltv','PERFORM_CNS.SCORE',
       'NEW.ACCTS.IN.LAST.SIX.MONTHS', 'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS',
       'AVERAGE.ACCT.AGE_Months', 'credit_history_in_months', 'NO.OF_INQUIRIES','all_accounts', 'total_inactive_accounts',
       'total_overdue_Accounts', 'total_balance', 'total_sanctioned_amount',
       'total_disbursed_amount', 'total_installment','age_at_disbursement']

from sklearn.preprocessing import  RobustScaler
rob_scaler = RobustScaler()

data[numerical_cols] = rob_scaler.fit_transform(data[numerical_cols])
data.head()

Adding a new column to the dataset for those records that have zeros in important feature columns

In [22]:
data['NA_Feature'] = (data == 0).astype(int).sum(axis=1)
data.head()

One Hot Encoding

In [ ]:
#  categorical_cols = ['Aadhar_flag','Driving_flag','Employment.Type',
#                     'manufacturer_id',
#                     # 'MobileNo_Avl_Flag',
#                     'PAN_flag','Passport_flag',
#                     # 'PERFORM_CNS.SCORE',
#                     'VoterID_flag', 
#                     # 'NEW.ACCTS.IN.LAST.SIX.MONTHS','DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS',
#                     # ,'AVERAGE.ACCT.AGE', 'NO.OF_INQUIRIES',
#                     'credit_risk_cleaned'
#                     # , 'CREDIT.HISTORY.LENGTH', 
#                     # ,'supplier_id'
# ]

# # ['manufacturer_id', 'Aadhar_flag', 'PAN_flag',
# #        'VoterID_flag', 'Driving_flag', 'Passport_flag', 'PERFORM_CNS.SCORE',
# #        'NEW.ACCTS.IN.LAST.SIX.MONTHS', 'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS',
# #        'AVERAGE.ACCT.AGE', 'NO.OF_INQUIRIES', 'Credit Risk','AVERAGE.ACCT.AGE','CREDIT.HISTORY.LENGTH',
# #        'Employment Type']

# for i in categorical_cols:
#     cols = pd.get_dummies(data[i], prefix=i, drop_first=False)
#     data = pd.concat([data, cols], axis=1)    

# data = data.drop(categorical_cols, axis=1)
# print("Shape of data after one-hot encoding: ", data.shape)
# data.head()

Shape of data after one-hot encoding:  (233154, 63)

   disbursed_amount  asset_cost  ...  credit_risk_cleaned_12  credit_risk_cleaned_13
0             50578       58400  ...                       0                       0
1             47145       65550  ...                       0                       0
2             53278       61360  ...                       0                       0
3             57513       66113  ...                       0                       0
4             52378       60300  ...                       0                       0

[5 rows x 63 columns]

Trying out stuff

Scaling

In [ ]:
# from sklearn.preprocessing import StandardScaler
# from sklearn.preprocessing import MinMaxScaler
# scaler = StandardScaler()
# scale_cols = ['asset_cost','DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS','disbursed_amount','ltv',
#               'NEW.ACCTS.IN.LAST.SIX.MONTHS','NO.OF_INQUIRIES','PERFORM_CNS.SCORE','PRI.ACTIVE.ACCTS','PRI.CURRENT.BALANCE',
#               'PRI.DISBURSED.AMOUNT','PRI.NO.OF.ACCTS','PRI.OVERDUE.ACCTS','PRI.SANCTIONED.AMOUNT','PRIMARY.INSTAL.AMT',
#               'SEC.ACTIVE.ACCTS','SEC.CURRENT.BALANCE',
#               'SEC.DISBURSED.AMOUNT','SEC.INSTAL.AMT','SEC.NO.OF.ACCTS','SEC.OVERDUE.ACCTS','SEC.SANCTIONED.AMOUNT',
#               'age_at_disbursement', 'AVERAGE.ACCT.AGE_Months', 'credit_history_in_months'
#               ]
# # scaler = StandardScaler()
# col_list = data.columns.values.tolist()
# print(col_list)
# data[scale_cols] = scaler.fit_transform(data[scale_cols])
# data_n = scaler.fit_transform(data)
# data_n = pd.DataFrame(data_n, columns = col_list)

['disbursed_amount', 'asset_cost', 'ltv', 'PERFORM_CNS.SCORE', 'PRI.NO.OF.ACCTS', 'PRI.ACTIVE.ACCTS', 'PRI.OVERDUE.ACCTS', 'PRI.CURRENT.BALANCE', 'PRI.SANCTIONED.AMOUNT', 'PRI.DISBURSED.AMOUNT', 'SEC.NO.OF.ACCTS', 'SEC.ACTIVE.ACCTS', 'SEC.OVERDUE.ACCTS', 'SEC.CURRENT.BALANCE', 'SEC.SANCTIONED.AMOUNT', 'SEC.DISBURSED.AMOUNT', 'PRIMARY.INSTAL.AMT', 'SEC.INSTAL.AMT', 'NEW.ACCTS.IN.LAST.SIX.MONTHS', 'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS', 'NO.OF_INQUIRIES', 'loan_default', 'age_at_disbursement', 'AVERAGE.ACCT.AGE_Months', 'credit_history_in_months', 'Aadhar_flag_0', 'Aadhar_flag_1', 'Driving_flag_0', 'Driving_flag_1', 'Employment.Type_0', 'Employment.Type_1', 'Employment.Type_2', 'manufacturer_id_45', 'manufacturer_id_48', 'manufacturer_id_49', 'manufacturer_id_51', 'manufacturer_id_67', 'manufacturer_id_86', 'manufacturer_id_120', 'manufacturer_id_145', 'manufacturer_id_152', 'manufacturer_id_153', 'manufacturer_id_156', 'PAN_flag_0', 'PAN_flag_1', 'Passport_flag_0', 'Passport_flag_1', 'VoterID_flag_0', 'VoterID_flag_1', 'credit_risk_cleaned_-1', 'credit_risk_cleaned_1', 'credit_risk_cleaned_2', 'credit_risk_cleaned_3', 'credit_risk_cleaned_4', 'credit_risk_cleaned_5', 'credit_risk_cleaned_6', 'credit_risk_cleaned_7', 'credit_risk_cleaned_8', 'credit_risk_cleaned_9', 'credit_risk_cleaned_10', 'credit_risk_cleaned_11', 'credit_risk_cleaned_12', 'credit_risk_cleaned_13']

In [ ]:
# data_n.head()

   disbursed_amount  asset_cost  ...  credit_risk_cleaned_12  credit_risk_cleaned_13
0         -0.291335   -0.921895  ...               -0.202693               -0.253938
1         -0.555997   -0.544482  ...               -0.202693               -0.253938
2         -0.083183   -0.765651  ...               -0.202693               -0.253938
3          0.243307   -0.514764  ...               -0.202693               -0.253938
4         -0.152567   -0.821604  ...               -0.202693               -0.253938

[5 rows x 63 columns]

Dimensionality Reduction

In [ ]:
#

In [ ]:
# data_n.head()
data = data_n

Splitting Data

In [25]:
from sklearn.model_selection import train_test_split,KFold,cross_val_score

target = data.loan_default
X = data.drop("loan_default",axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, target, test_size=0.33, random_state=19)
print("Shape of data:", data.shape)
print("Shape of target", target.shape)
print("Shape of Xtrain and ytrain:", X_train.shape, y_train.shape)
print("Shape of Xtest and ytest:", X_test.shape, y_test.shape)

Shape of data: (233154, 26)
Shape of target (233154,)
Shape of Xtrain and ytrain: (156213, 25) (156213,)
Shape of Xtest and ytest: (76941, 25) (76941,)

XGBoost Classifier

In [26]:
from sklearn import metrics
xgb = XGBClassifier()
xgb.fit(X_train, y_train.values.flatten())
xgb_y_pred = xgb.predict(X_test)
# cnf_matrix = metrics.confusion_matrix(y_test, xgb_y_pred)
# print(cnf_matrix)
print("Accuracy:",metrics.accuracy_score(y_test, xgb_y_pred))
print("Precision:",metrics.precision_score(y_test, xgb_y_pred))
print("Recall:",metrics.recall_score(y_test, xgb_y_pred))

Accuracy: 0.9006121573673335
Precision: 0.9493721347418776
Recall: 0.5716171617161716

Old code

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
target = data[target_col]
data = data.drop(target_col, axis=1)
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.25, random_state=42, stratify=target)

print("Shape of data:", data.shape)
print("Shape of target", target.shape)
print("Shape of Xtrain and ytrain:", X_train.shape, y_train.shape)
print("Shape of Xtest and ytest:", X_test.shape, y_test.shape)

Shape of data: (233154, 62)
Shape of target (233154, 1)
Shape of Xtrain and ytrain: (174865, 62) (174865, 1)
Shape of Xtest and ytest: (58289, 62) (58289, 1)

In [ ]:
X_train = X_train.rename({'credit_risk_cleaned_-1': 'credit_risk_cleaned_neg1'}, axis=1)  
X_test = X_test.rename({'credit_risk_cleaned_-1': 'credit_risk_cleaned_neg1'}, axis=1)

In [ ]:
X_train.head()

        disbursed_amount  ...  credit_risk_cleaned_13
16901          -0.050419  ...               -0.253938
4392            0.567099  ...                3.937975
192451          1.119781  ...               -0.253938
115660         -0.252789  ...               -0.253938
98202           0.050574  ...               -0.253938

[5 rows x 62 columns]

XGBoost

In [ ]:
from sklearn import metrics
xgb = XGBClassifier()
xgb.fit(X_train, y_train.values.flatten())
xgb_y_pred = xgb.predict(X_test)
# cnf_matrix = metrics.confusion_matrix(y_test, xgb_y_pred)
# print(cnf_matrix)
print("Accuracy:",metrics.accuracy_score(y_test, xgb_y_pred))
print("Precision:",metrics.precision_score(y_test, xgb_y_pred))
print("Recall:",metrics.recall_score(y_test, xgb_y_pred))

ValueError: ignored


**`Without Scaling`**

[[45592    44]

[12609    44]]. 

Accuracy: 0.7829264526754619. 

Precision: 0.5 

Recall: 0.003477436181142812

# RF and Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

trees = DecisionTreeClassifier(random_state=0)
forest = RandomForestClassifier(n_estimators=15, random_state=2)
preds_trees = trees.fit(X_train,y_train).predict(X_test)
preds_forest = forest.fit(X_train,y_train).predict(X_test)
# print('Trees Train accuracy %s' % trees.score(X_train, y_train)) 
# print('Forest Train accuracy %s' % forest.score(X_train, y_train)) 

print('Trees Test accuracy %s' % accuracy_score(preds_trees, y_test)) 
print('Forest Test accuracy %s' % accuracy_score(preds_forest, y_test))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  import sys

Trees Train accuracy 0.9994452863637663
Forest Train accuracy 0.9911131444256999
Trees Test accuracy 0.6649968261593097
Forest Test accuracy 0.7590111341762596